body {
    font-family: 'Rye', cursive;
}

.form-group label {
    color: #000;
    font-weight: bold;
}

input::placeholder {
    font-style: italic;
    font-family: serif;
}

input {
    font-family: serif;
}

.jumbotron p {
    font-family: serif;
    letter-spacing: .5px;
}

.card-header,
.submit {
    background-color: #e4ab00;
    text-shadow: 2px 2px #6f6f6f;
    letter-spacing: 1px;
}

.display-4 {
    text-shadow: 2px 2px #ab8100;
    letter-spacing: 1px;
}

tbody td {
    font-family: serif;
}

.warning {
    display: none;
    font-family: serif;
}